@page
@model WebApp01.Pages.AdoDemoModel
@{}

<h1>ADO.NET</h1>
<p>It is an API contains classes, used to interact with databases like Sql Server, Orcale, etc..</p>

@using (Html.BeginForm())
{
    <button>Connect to Sql</button>
}

@ViewBag.Message
<br />

Goto:
<a asp-page="/adoex01">Ex-01</a> |
<a asp-page="/adoex02">Ex-02</a> |
<a asp-page="/adoex03">Ex-03</a> |
<a asp-page="/adoex04">Ex-04</a> |
<a asp-page="/adoex05">Ex-05</a> |
<a asp-page="/adoex06">Ex-06</a> |
<a asp-page="/adoex07">Ex-07</a> |
<a asp-page="/adoex08">Ex-08</a> |