@page
@model WebApp01.Pages.AdoEx05Model
@{
}
<h1>ADO.NET, Ex-05</h1>
<h2>Delete Employee row</h2>
@using (Html.BeginForm())
{
    @Html.Label("id", "Enter id:");
    @Html.TextBox("id");
    <br />

    <button>Delete</button>
    <br />
}
@ViewBag.Message
<br />

Goto:
<a asp-page="/adodemo">Index</a> |
<a asp-page="/adoex01">Ex-01</a> |
<a asp-page="/adoex02">Ex-02</a> |
<a asp-page="/adoex03">Ex-03</a> |
<a asp-page="/adoex04">Ex-04</a> |
<a asp-page="/adoex06">Ex-06</a> |

