@page
@model WebApp01.Pages.DashboardModel
@{
}
<h1>Dashboard Page</h1>
@ViewBag.Message
<br />

Demo Links:
<a asp-area="" asp-page="/aboutrazor">Razor Info</a> |


<a asp-area="" asp-page="/passingdatademo">PassingDataDemo</a> |

<a asp-area="" asp-page="/postbackdemo">Postback Demo</a> |

<a asp-area="" asp-page="/htmlhelperdemo">Html Helper Demo</a> |

<a asp-area="" asp-page="/adodemo">ADO Demo</a> |

<a asp-area="" asp-page="/sessiondemo">Session Demo</a>

<br/>

Goto:
<a asp-page="logoutpage">Log Out</a>
