@page
@model WebApp01.Pages.HtmlHelperEx01Model
@{
}

<h1>Html Helper Demo, Ex-01</h1>

@using (Html.BeginForm())
{
        @Html.Label("t1", "Enter Name: ");
        @Html.TextBox("t1"); <br/>
    @*<input type="submit" />*@
        <button>Submit</button>
    <br />
}

@ViewBag.Message
<br />

Goto:
<a asp-page="/htmlhelperex02">Ex-02</a> |
<a asp-page="/htmlhelperex03">Ex-03</a> |
<a asp-page="/htmlhelperex04">Ex-04</a> |
<a asp-page="/htmlhelperex05">Ex-05</a> |
<a asp-page="/htmlhelperdemo">Index</a> |
