@page
@model WebApp01.Pages.PassingDataDemoModel
@{
}


<h1>Passing Data Demo</h1>

<p>.cshtml page contains presentation logic</p>
<p>.cshtml.cs page contains application logic</p>
<p>ViewData and ViewBag are used to pass data and receive data</p>

Ex: <br/>
Name: @ViewBag.name<br/>
City: @ViewBag.city<br/>

Goto:
<a asp-page="PassingDataEx01">Passing data demo Ex-01</a>

