@page
@model WebApp01.Pages.PostbackEx02Model
@{
}

<h1>Postback Demo, Ex-02</h1>

<form method="post">
    Enter Name: <input type="text" name="t1" /></br>
    <button>Say Hello</button></br>
</form>

@ViewBag.Message</br>

Goto:
<a asp-page="/postbackdemo">Back postback index</a>

