@page
@model WebApp01.Pages.SessionEx01Model
@{
}
<h1>Session Ex-01</h1>
<h2>Read Session</h2>

Name: @ViewBag.name<br/>
City: @ViewBag.city<br/>

@ViewBag.Message<br/>

Goto:
<a asp-page="/sessionex02">Delete Session</a>

